<div class="cartBox">
    <h1 class="text-danger">Shopping Cart</h1>
    <div class="headCart">
      <p class = "itemNum">You have <label  class="text-danger">{{cartProducts.length}}</label>item in your cart </p>
      <span class="text-danger card-header" (click)=" clearCart()">Clear Shopping Cart</span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity:</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let cart of cartProducts ; let i = index">
                
                <td><img src="{{cart.item.image}}" alt=""></td>
                <td>{{cart.item.title}}</td>
                <td>{{cart.item.price}} L.E</td>
                <td>
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="addAmount(i)">+</button>
                        <input type="number" (change) = "detectChange()" class="form-control" min="1" [(ngModel)] = "cart.quantity">
                        <button class="btn btn-dark" (click)="minusAmount(i)">-</button>
                    </div>
                </td>
                <td>{{cart.item.price * cart.quantity}} L.E</td>
                <td><button class="btn btn-danger" (click) = "deleteProduct(i)">Delete</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total : {{total}} L.E</th>
                <th><button class="btn btn-success" (click) = "addCart()">Order Now </button></th>
            </tr>
        </tfoot>
    </table>
    
    <div class="alert alert-success" role = "alert" *ngIf="success"><strong>Well done! your order is successfully send</strong></div>
</div>
