<div class="row mt-5 pt-5 justify-content-between align-items-center">
    <div class="col-md-5">
    <div class="product-img">
      <img src="{{data.image}}" alt="" class="w-75">
    </div></div>

    <div class="col-md-6">
        <div class="product-content">
            <p><span class = "fw-bold">Title: </span>{{data.title}}</p>
            <p><span class = "fw-bold">Category: </span>{{data.category}}</p>
            <p><span class = "fw-bold">Description: </span>{{data.description}}</p>
            <p><span class = "fw-bold">Rate: </span>{{data.rating.rate}}</p>
            <p><span class = "fw-bold">Count: </span>{{data.title}}</p>
            <p><span class = "fw-bold">Price: </span>{{data.price}} L.E</p>
        </div>
    </div>
</div>
